@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

input,
textarea {
  outline-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

p {
  text-wrap: pretty;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  min-height: 80vh;
  background-color: #878dff;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 0 100%);
}

.blob-shape {
  border-radius: 30% 70% 70% 30% / 31% 42% 58% 69%;
  background: url("../assets/image/blob-image.jpg");
  border: 3px solid rgb(97, 88, 88);
  width: 500px;
  height: 500px;
}

.grid-columns {
  width: min(90%, 90vw);
  margin-inline: auto;
  display: grid;
  grid-template-areas:
    "one one two three"
    "one one four four"
    "five six four four";
  justify-content: center;
  gap: 1.5rem;
  /* padding: 2rem; */
}

.grid-columns > div:nth-child(1) {
  grid-area: one;
  padding: 1.3rem;
}
.grid-columns > div:nth-child(2) {
  grid-area: two;
}
.grid-columns > div:nth-child(3) {
  grid-area: three;
}
.grid-columns > div:nth-child(4) {
  grid-area: four;
}
.grid-columns > div:nth-child(5) {
  grid-area: five;
}
.grid-columns > div:nth-child(6) {
  grid-area: six;
}

.grid-columns > * {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
}

@media (max-width: 900px) {
  .grid-columns {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.service-card {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service-card::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: hsl(0, 3%, 13%);
  top: -90;
  z-index: -1;
}
.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
  padding-inline: 1rem;

  @media (max-width: 640px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
.details-grid img:nth-child(3) {
  grid-row: 2 / 4;
}

.details-grid img:nth-child(4) {
  grid-row: 1 / 3;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400+700'); */
/* :root{
   --bg-color-1: #555555;
   --bg-color-2: #ffffff;
   --bg-color-3: #ff8c00;
      --color-1: #333333;
      --color-2: #ffffff;
}

.marco {
  font-size: 100%; 
  font-family: 'Open Sans', sans-serif;
}
.marco{
  height: 610px;
  display: flex;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
}
.marco::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  height: 1000px;
  width: 100%;
  background: url(../assets/image/travels/air3.jpg) center no-repeat;
  animation: zoom 15s both;
  background-size: cover;
}
@keyframes zoom {
  100%  {background-size: 180%;}
  0%{background-size: 120%; }
}

img {
  max-width: 100%;
}
.logo {
  background: var(--bg-color-3);
  padding: 1rem;
  max-width: 7rem;
  margin-bottom: auto;
  margin-right: auto; 
}
.logo__symbol {
  display: block;
  margin-right: auto; margin: 0 auto 1rem auto;
  max-width: 80%;
}
.logo__text {
  font-size: 54px;
  ;
  line-height: 1.2;
  text-align: center;
  font-weight: normal;
  letter-spacing: .3rem;
  color: var(--color-2);
  text-transform: uppercase;
} */
